<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Wake on LAN</title>
</head>
<body>
    <div class="container">
        <div class="banner">
            <h1>Wake on LAN</h1>
        </div>

        <div class="add-device">
            <h2>Add Device</h2>
            <form action="{{ url_for('add_device') }}" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" required>
                <label for="mac">MAC Address:</label>
                <input type="text" name="mac" required>
                <label for="ip">IP Address:</label>
                <input type="text" name="ip" required>
                <button type="submit">Add Device</button>
            </form>
        </div>

        <div class="devices">
            <h2>Devices</h2>
            <table class="devices-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MAC Address</th>
                        <th>Status</th> <!-- Neue Spalte für den Status -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in range(devices|length) %}
                        {% set device = devices[index] %}
                        <tr>
                            <td>{{ device['name'] }}</td>
                            <td>{{ device['mac'] }}</td>
                            <td>
                                {% if device['status'] %}
                                    <div class="status-dot green"></div>
                                {% else %}
                                    <div class="status-dot red"></div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('wake_up', device_id=index) }}"><button>Wake up</button></a>
                                <a href="{{ url_for('delete_device', device_id=index) }}" class="delete-link"><button>Delete</button></a>
                                <!-- Add a link to an edit page if needed -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
